<h1 class="uk-border-rounded overlay mix-b">今日は何の日？</h1>
<div class="uk-margin overlay sub-color-b uk-border-rounded relative">
  <p class="uk-margin-top">今日は何の日？は思い出を振り返るアプリです</p>
  <p>保存した写真を撮影日で分類し、その日と同じ日の、全ての年の写真を表示するので
  <br>何年前に何があったか？がパッとわかるようになります</p>
  <p>過去の今日を思い返して、また新たな思い出のきっかけになれたらと思います</p>
  <%= image_tag 'mobile.png', class: 'mobile-icon' %>
</div>

<div class="uk-margin overlay uk-width-2xlarge sub-color-b uk-border-rounded relative">
  <%= image_tag 'camera.png', class: 'camera-icon' %>
  <h3 class="uk-flex uk-flex-center uk-margin-top">使い方</h3>
  <p>新規写真登録をすると、「同じ日の思い出」ページで今日と同じ日の写真を表示します</p>
  <p>今日と同じ日の写真がなかった場合、同じ月の写真が表示されます</p>
  <%= video_tag '/videos/同じ日の思い出demo.mp4', playsinline: true, controls: true, class: 'uk-margin' %>
  <p>保存した全ての写真を見たい時は「保存済み写真一覧」から確認できます</p>
</div>