<h1>今日はにゃんの日？</h1>
<p>色々エラー出ても頑張るにゃん！</p>
<ul class="uk-flex">
<p class="uk-padding" style="background-color: #FCF1D3;">ベースカラー</p>
</ul>
<ul class="uk-flex">
<li class="uk-padding" style="background-color: #F7D7D3">サブカラー</li>
</ul>
<ul class="uk-flex">
<li class="uk-padding" style="background-color: #1EACB4">ポイントカラー</li>
</ul>

<div class="uk-alert-primary" uk-alert>
<a class="uk-alert-close" uk-close></a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
</div>

<div class="uk-alert-success" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
</div>

<div class="uk-alert-warning" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
</div>

<div class="uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
</div>

<p uk-margin>
    <button class="uk-button uk-button-default">Default</button>
    <button class="uk-button uk-button-primary">Primary</button>
    <button class="uk-button uk-button-secondary">Secondary</button>
    <button class="uk-button uk-button-danger">Danger</button>
    <button class="uk-button uk-button-text">Text</button>
    <button class="uk-button uk-button-link">Link</button>
</p>

<% if logged_in? %>
  <%= link_to t('link.logout'), logout_path, data: { turbo_method: :delete} %>
<% else %>
  <ul class="uk-list uk-margin-left">
    <li><%= link_to t('link.user_create'), new_user_path %></li>
    <li><%= link_to t('link.login'), login_path %></li>
  </ul>
<% end %>
