<nav class="uk-navbar-container">
  <div class="uk-container">
    <div uk-navbar>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><%= link_to t('link.terms_of_service'), "#" %></li>
          <li><%= link_to t('link.privacy_policy'), "#" %></li>
          <li><%= link_to t('link.contact'), "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>