<div data-controller="picture">
  <div class="uk-inline uk-width-1-1">
    <%= f.text_field :title, class: 'uk-input form_clear', placeholder: 'title' %>
    <a href="#" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: close" data-action="click->picture#clearText"></a>
  </div>
  <div class="uk-inline uk-width-1-1">
    <%= f.text_area :memo, class: 'uk-textarea form_clear', placeholder: 'memo', rows: 3 %>
    <a href="#" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: close" data-action="click->picture#clearText"></a>
  </div>
</div>
