/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "M PLUS 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(53, 29, 6);
}
h1 {
  font-family: "M PLUS 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 29, 6);
}
h3 {
  font-family: "M PLUS 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(53, 29, 6);
}
.uk-card-default {
  color: rgb(53, 29, 6);
}
.uk-card-default .uk-card-title {
  color: rgb(53, 29, 6);
}
.line-div::before,
.line-div::after {
  background: rgb(53, 29, 6);
}
.base_background {
  background-image: url("背景ribon.png"), url("背景base.jpg");
  background-position: top, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 100% auto, contain;
}
.uk-button-primary {
  background-color: #1eacb4;
}
.uk-button-primary:hover {
  background-color: #029199;
}
.uk-light .uk-slidenav {
  color: #1eadb4cf;
}
.uk-light .uk-slidenav:hover {
  color: #029199;
}
.uk-icon-link {
  color: #1eadb4cf;
}
.uk-icon-link:hover {
  color: #029199;
}

.uk-alert-success {
  background-color: #c8eff0;
  color: #009da5;
}
.uk-alert-danger {
  background-color: #f7d7d3;
  color: #d12e1f;
}
.white-background-button {
  background-color: rgba(255, 255, 255, 0.864);
}
.white-background-button:hover {
  background-color: rgba(255, 255, 255, 0.935);
}
.white-background {
  background-color: white;
}
.overlay {
  background-color: rgba(255, 255, 255, 0.772);
  padding: 5px 40px;
}
.subcolor-b {
  border-bottom: 1px solid hsla(7, 69%, 90%, 0.7);
  border-left: 1px solid hsla(7, 69%, 90%, 0.7);
}
.sub-color {
  color: #f7d7d3;
}
.point-color {
  color: #1eacb4;
}
.page.current {
  padding: 9px;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
  background: white;
}
@media (min-width: 694px) {
  .uk-width-auto\@69 {
    width: auto;
  }
  .uk-child-width-expand\@69 > :not([class*="uk-width"]) {
    flex: 1;
    min-width: 1px;
  }
  .uk-flex-middle\@69 {
    align-items: center;
    justify-content: center;
  }
  .uk-width-expand\@69 {
    flex: 1;
    min-width: 165px;
    max-width: 175px;
  }
  .uk-margin-left\@69 {
    margin-left: 15px !important;
  }
}
@media (max-width: 372px) {
  .uk-button {
    padding: 0px 20px;
  }
}
.uk-link,
a {
  color: #1b969c;
}
.uk-link,
a:hover {
  color: #0c6a78;
}
