/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "M PLUS 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
h1 {
  font-family: "M PLUS 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
h3 {
  font-family: "M PLUS 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.base_background {
  background-image: url("背景.jpg");
}
.uk-button-primary {
  background-color: #1eacb4;
}
.uk-button-primary:hover {
  background-color: #029199;
}
.uk-alert-success {
  background-color: #c8eff0;
  color: #009da5;
}
.uk-alert-danger {
  background-color: #f7d7d3;
  color: #d12e1f;
}
.white-background-button {
  background-color: rgba(255, 255, 255, 0.864);
}
.white-background-button:hover {
  background-color: rgba(253, 240, 245, 0.965);
}
