.album-page-background {
  background-image: url("album_page.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: contain;
}
.height-400_1000 {
  min-height: 400px;
  max-height: 1000px;
  overflow: auto;
}
.height-400_1000 img {
  max-height: 450px;
  padding: 30px;
}
.uk-width-1-4.scrollable-sidebar img {
  margin-top: 16px;
}
.scrollable-sidebar {
  max-height: 100vh;
  overflow-y: auto;
}
.blank_space {
  height: 50px;
}
.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding-r8t8 {
  padding-right: 8px;
  padding-top: 8px;
}
