.file_field {
  background-color: rgb(253, 253, 253);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}
.file_field:hover {
  border-color: #80858b;
}
.hidden {
  display: none !important;
}
.uk-card-title {
  font-size: large;
  font-weight: 350;
}
.scroll-top {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 13px 10px;
}
.slide-nav {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 9px 13px;
}
.uk-overlay {
  padding: 5px 5px;
}
.slide-picture {
  display: block; /* ブロック要素として表示 */
  width: 100%; /* 画像の幅を100%に設定 */
  max-height: 500px;
}

.slide-card {
  display: block; /* ブロック要素として表示 */
  width: 100%; /* 親要素の幅に合わせる */
  box-sizing: border-box; /* パディングとボーダーを含めた幅計算 */
}
