.relative {
  position: relative;
}
.mobile-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 70px;
  z-index: 10;
  transform: rotate(25deg);
}
.camera-icon {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 60px;
  z-index: 10;
  transform: rotate(-25deg);
}
.mix-b {
  border-bottom: 1px solid hsla(7, 69%, 90%, 0.7);
  border-left: 1px solid hsla(7, 69%, 90%, 0.7);
  border-top: 1px solid hsla(183, 71%, 41%, 0.3);
  border-right: 1px solid hsla(183, 71%, 41%, 0.3);
}
.sub-color-b {
  border: 1px solid #f7d7d3b2;
}
.padding-t {
  padding-top: 6px;
}
